html {
  max-width: 720px;
}

body {
  background: #fff;
}
#user {
  color: blue;
}
h1,
h2,
button {
  color: green;
}

h1.button {
  background: red;
  color: green;
}

.box > p {
  color: blueviolet;
}
